<body class="firstView_container">
    <section class="firstView_container">
        <div class="firstView">
            <h2 class="firstView_header">Potepan Shareで<br>
            まだ体験したことのない<br>
            旅をしよう</h2>
        </div>
    </section>
</body>