@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

  /* sidebar */

  aside {
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }

  header,div,ul,li{
    margin: 0;
    padding: 0;

 }

.navbar {
    background-color: #202149;
    padding-bottom: 15px;
    height: 60px;
    width: 100%;
}

.nav {
  list-style: none;
  gap: 25px!important;
  margin-right: 20px;
}

.navbar-right {
  display:flex;
flex-direction: row!important;
}