<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a><%= link_to "Potepan Share", root_path, id: "logo" %></a>
    <nav class="navbar-nav">
      <ul class="nav navbar-right">
        <li><%= link_to "ログイン", login_path %></li>
        <li><%= link_to "新規登録", signup_path, class:"btn" %></li>
      </ul>
    </nav>
  </div>
</header>
